{
  "openapi": "3.1.0",
  "info": {
    "title": "FossaPay API",
    "description": "FossaPay API for checkout wallets, master-wallet payouts, customer management, NGN wallets, crypto wallets, transfers, fees, banks, and webhooks.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-production.fossapay.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/api/v1/customers": {
      "post": {
        "operationId": "CustomersController_create",
        "tags": ["Third Party Customers"],
        "summary": "Create a new customer account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "CustomersController_findAll",
        "tags": ["Third Party Customers"],
        "summary": "Get all customers",
        "parameters": [
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc",
              "description": "Case-insensitive. Values are normalized internally to ASC or DESC."
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["createdAt", "firstName", "lastName", "emailAddress"],
              "default": "createdAt"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of customers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/customers/{customerId}": {
      "get": {
        "operationId": "CustomersController_findOne",
        "tags": ["Third Party Customers"],
        "summary": "Get customer by ID",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/fiat/create": {
      "post": {
        "operationId": "FiatWalletsController_create",
        "tags": ["NGN Wallets"],
        "summary": "Create an NGN wallet for a customer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FiatWalletCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "NGN wallet created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatWalletCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/fiat/master": {
      "get": {
        "operationId": "FiatWalletsController_findMaster",
        "tags": ["NGN Wallets"],
        "summary": "Get master NGN wallet",
        "responses": {
          "200": {
            "description": "Master NGN wallet retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatMasterWalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Master NGN wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/fiat/{walletId}": {
      "get": {
        "operationId": "FiatWalletsController_findOne",
        "tags": ["NGN Wallets"],
        "summary": "Get NGN wallet by ID",
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatWalletResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The wallet does not belong to the authenticated business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/fiat/account/{accountNumber}": {
      "get": {
        "operationId": "FiatWalletsController_findByAccount",
        "tags": ["NGN Wallets"],
        "summary": "Get NGN wallet by account number",
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatWalletResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The wallet does not belong to the authenticated business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/fiat/{walletId}/transactions": {
      "get": {
        "operationId": "FiatWalletTransactionsController_findAll",
        "tags": ["NGN Wallets"],
        "summary": "Get wallet transactions",
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "transactionType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["deposit", "withdrawal"]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatWalletTransactionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The wallet does not belong to the authenticated business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/fiat/transactions/{transactionId}": {
      "get": {
        "operationId": "FiatWalletTransactionsController_findOne",
        "tags": ["NGN Wallets"],
        "summary": "Get wallet transaction by ID",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatWalletTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The transaction does not belong to the authenticated business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/fiat/transfers/wallet-to-wallet": {
      "post": {
        "operationId": "FiatWalletTransfersController_create",
        "tags": ["NGN Transfers"],
        "summary": "Transfer NGN for free between customer wallets",
        "description": "Free internal transfer between two FossaPay customers under the same business. Both accounts must be FossaPay NGN wallets.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FiatWalletTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Wallet transfer completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatWalletTransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "The source or destination wallet does not belong to the authenticated business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Transaction reference has already been used",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "422": {
            "description": "Validation error, including a missing or blank narration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/fiat/banks": {
      "get": {
        "operationId": "FiatTransfersController_getSupportedBanks",
        "tags": ["NGN Transfers"],
        "summary": "Get supported banks",
        "responses": {
          "200": {
            "description": "Supported banks retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedBanksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/fiat/bank-name-enquiry": {
      "post": {
        "operationId": "FiatTransfersController_bankNameEnquiry",
        "tags": ["NGN Transfers"],
        "summary": "Perform bank account name enquiry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankNameEnquiryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bank name enquiry completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankNameEnquiryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/fiat/inter-bank": {
      "post": {
        "operationId": "FiatTransfersController_interBankTransfer",
        "tags": ["NGN Transfers"],
        "summary": "Transfer NGN to an external bank",
        "description": "Send NGN to an account at another supported Nigerian bank. Use wallet-to-wallet transfer instead when both customers belong to the same FossaPay business.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InterBankTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer request is being processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterBankTransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Customer or account not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/fiat/calculate-fee": {
      "get": {
        "operationId": "FiatTransfersController_calculateFee",
        "tags": ["NGN Transfers"],
        "summary": "Calculate NGN transfer fee",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0.01
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer fee calculated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FiatFeeQuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/crypto/create": {
      "post": {
        "operationId": "CryptoWalletsController_create",
        "tags": ["Crypto Wallets"],
        "summary": "Create a crypto wallet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoWalletCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Crypto wallet created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoWalletCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/crypto/master": {
      "get": {
        "operationId": "CryptoWalletsController_findMaster",
        "tags": ["Crypto Wallets"],
        "summary": "Get master crypto wallet",
        "responses": {
          "200": {
            "description": "Master crypto wallet retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoMasterWalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Master wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/crypto/customer/{customerId}/balance": {
      "get": {
        "operationId": "CryptoWalletsController_getCustomerBalance",
        "tags": ["Crypto Wallets"],
        "summary": "Get a customer Solana wallet balance",
        "description": "Returns provider-reported SOL, USDC, and USDT balances for a customer owned by the authenticated merchant. Unsupported Solana token deposits appear in transaction history, not this balance response.",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Solana wallet balance retrieved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CryptoCustomerBalanceResponse" }
              }
            }
          },
          "400": {
            "description": "Customer or wallet not found for this merchant",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/crypto/{walletId}": {
      "get": {
        "operationId": "CryptoWalletsController_findOne",
        "tags": ["Crypto Wallets"],
        "summary": "Get crypto wallet by ID",
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Crypto wallet retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoWalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/crypto/address/{address}": {
      "get": {
        "operationId": "CryptoWalletsController_findByAddress",
        "tags": ["Crypto Wallets"],
        "summary": "Get crypto wallet by address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Crypto wallet retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoWalletResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/crypto/{walletId}/transactions": {
      "get": {
        "operationId": "CryptoWalletsController_findTransactions",
        "tags": ["Crypto Wallets"],
        "summary": "Get crypto wallet transactions",
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          },
          {
            "name": "transactionType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["deposit", "withdrawal", "p2p_internal", "p2p_external"]
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoWalletTransactionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Wallet not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/wallets/crypto/transactions/{transactionId}": {
      "get": {
        "operationId": "CryptoWalletsController_findTransaction",
        "tags": ["Crypto Wallets"],
        "summary": "Get crypto wallet transaction by ID",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoWalletTransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/crypto": {
      "post": {
        "operationId": "CryptoTransfersController_create",
        "tags": ["Crypto Transfers"],
        "summary": "Create a crypto transfer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Crypto transfer submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoTransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/crypto/calculate-fee": {
      "get": {
        "operationId": "CryptoTransfersController_calculateFee",
        "tags": ["Crypto Transfers"],
        "summary": "Calculate crypto transfer fee",
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["usdc", "usdt", "sol"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer fee calculated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CryptoFeeQuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payouts": {
      "post": {
        "operationId": "ExternalPayoutController_create",
        "tags": ["Master Wallet Payouts"],
        "summary": "Create a payout from the merchant master NGN wallet",
        "description": "The source wallet is derived from the authenticated merchant. Same-business destinations are free; cross-business FossaPay and external-bank destinations incur the configured payout fee.",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique key for this logical payout. Idempotency-Key is also accepted; if both headers are sent, they must match.",
            "schema": { "type": "string", "maxLength": 255 }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PayoutCreateRequest" }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Payout accepted, completed synchronously, or idempotently replayed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PayoutResponse" }
              }
            }
          },
          "400": {
            "description": "Validation, wallet, funds, configuration, provider, or idempotency-header error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, inactive, revoked, non-live, or non-full-permission API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "403": {
            "description": "Merchant KYC approval is required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "409": {
            "description": "Duplicate reference or incompatible idempotency-key reuse",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          }
        }
      }
    },
    "/api/v1/payouts/reference/{reference}": {
      "get": {
        "operationId": "ExternalPayoutController_findByReference",
        "tags": ["Master Wallet Payouts"],
        "summary": "Get a master-wallet payout by merchant reference",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout retrieved successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PayoutResponse" }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or inactive API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "403": {
            "description": "Merchant is not eligible",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "404": {
            "description": "Payout not found for this merchant",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          }
        }
      }
    },
    "/api/v1/payouts/{id}": {
      "get": {
        "operationId": "ExternalPayoutController_findOne",
        "tags": ["Master Wallet Payouts"],
        "summary": "Get a master-wallet payout by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "FossaPay payoutId returned by the create endpoint.",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Payout retrieved successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PayoutResponse" }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or inactive API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "403": {
            "description": "Merchant is not eligible",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "404": {
            "description": "Payout not found for this merchant",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          }
        }
      }
    },
    "/api/v1/checkouts": {
      "post": {
        "operationId": "ExternalCheckoutController_create",
        "tags": ["Checkout Wallet"],
        "summary": "Create a 30-minute NGN checkout wallet",
        "parameters": [
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "required": true,
            "description": "Unique key for this logical checkout request. Idempotency-Key is also accepted for backward compatibility.",
            "schema": { "type": "string", "maxLength": 255 }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CheckoutCreateRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created or idempotently replayed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CheckoutResponse" }
              }
            }
          },
          "400": {
            "description": "Validation error or missing/conflicting idempotency header",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or inactive API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "403": {
            "description": "Merchant is not eligible",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "409": {
            "description": "Reference or idempotency conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          }
        }
      }
    },
    "/api/v1/checkouts/reference/{reference}": {
      "get": {
        "operationId": "ExternalCheckoutController_findByReference",
        "tags": ["Checkout Wallet"],
        "summary": "Get a checkout wallet by merchant reference",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session retrieved successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CheckoutResponse" }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or inactive API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "403": {
            "description": "Merchant is not eligible",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "404": {
            "description": "Checkout not found for this merchant",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          }
        }
      }
    },
    "/api/v1/checkouts/{id}": {
      "get": {
        "operationId": "ExternalCheckoutController_findOne",
        "tags": ["Checkout Wallet"],
        "summary": "Get a checkout wallet by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session retrieved successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CheckoutResponse" }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or inactive API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "403": {
            "description": "Merchant is not eligible",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "404": {
            "description": "Checkout not found for this merchant",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          }
        }
      }
    },
    "/api/v1/checkouts/{id}/expire": {
      "post": {
        "operationId": "ExternalCheckoutController_expire",
        "tags": ["Checkout Wallet"],
        "summary": "Expire a pending checkout wallet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session expired successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CheckoutResponse" }
              }
            }
          },
          "401": {
            "description": "Missing, invalid, or inactive API key",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "403": {
            "description": "Merchant is not eligible",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "404": {
            "description": "Checkout not found for this merchant",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          },
          "409": {
            "description": "Only a pending checkout can be expired",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiError" }
              }
            }
          }
        }
      }
    },
    "/api/v1/settings/webhooks": {
      "put": {
        "operationId": "WebhooksController_updateSettings",
        "tags": ["Webhooks"],
        "summary": "Configure webhook settings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/webhooks/simulate": {
      "post": {
        "operationId": "WebhooksController_simulate",
        "tags": ["Webhooks"],
        "summary": "Simulate a webhook event",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookSimulationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook simulation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSimulationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "status": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "CustomerCreateRequest": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "emailAddress",
          "mobileNumber",
          "dateOfBirth",
          "address",
          "city",
          "country",
          "type"
        ],
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string",
            "format": "email"
          },
          "mobileNumber": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["individual"]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "businessId": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "emailAddress": {
            "type": "string",
            "format": "email"
          },
          "mobileNumber": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "customerType": {
            "type": "string",
            "enum": ["individual"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "CustomerResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "error"]
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Customer"
          }
        },
        "additionalProperties": true
      },
      "CustomerListResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data", "pagination"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "error"]
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "pagination": {
            "type": "object",
            "required": ["page", "limit", "total", "totalPages", "hasNextPage", "hasPrevPage"],
            "properties": {
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "totalPages": {
                "type": "integer"
              },
              "hasNextPage": {
                "type": "boolean"
              },
              "hasPrevPage": {
                "type": "boolean"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "FiatWalletCreateRequest": {
        "type": "object",
        "required": ["customerId", "walletName", "walletReference"],
        "properties": {
          "customerId": {
            "type": "string",
            "format": "uuid"
          },
          "walletName": {
            "type": "string"
          },
          "walletReference": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "FiatWalletCreated": {
        "type": "object",
        "required": ["walletId", "bankName", "bankCode", "accountName", "accountNumber"],
        "properties": {
          "walletId": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "bankCode": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "FiatWalletCreateResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "string",
            "const": "success"
          },
          "statusCode": {
            "type": "integer",
            "const": 201
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/FiatWalletCreated"
          }
        },
        "additionalProperties": true
      },
      "FiatWallet": {
        "type": "object",
        "required": ["id", "customerId", "availableBalance", "ledgerBalance", "walletName", "virtualAccount"],
        "properties": {
          "id": {
            "type": "string"
          },
          "customerId": {
            "type": "string",
            "format": "uuid"
          },
          "availableBalance": {
            "type": "string"
          },
          "ledgerBalance": {
            "type": "string"
          },
          "walletName": {
            "type": "string"
          },
          "customerType": {
            "type": "string",
            "enum": ["individual"]
          },
          "virtualAccount": {
            "type": "object",
            "required": ["accountNumber", "bankCode", "bankName"],
            "properties": {
              "accountNumber": {
                "type": "string"
              },
              "bankCode": {
                "type": "string"
              },
              "bankName": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "FiatMasterWallet": {
        "type": "object",
        "required": ["id", "availableBalance", "ledgerBalance", "walletName", "virtualAccount"],
        "properties": {
          "id": {
            "type": "string"
          },
          "availableBalance": {
            "type": "string"
          },
          "ledgerBalance": {
            "type": "string"
          },
          "walletName": {
            "type": "string"
          },
          "virtualAccount": {
            "type": "object",
            "required": ["accountNumber", "bankCode", "bankName"],
            "properties": {
              "accountNumber": {
                "type": "string"
              },
              "bankCode": {
                "type": "string"
              },
              "bankName": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "FiatWalletResponse": {
        "type": "object",
        "required": ["status", "message", "data"],
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/FiatWallet"
          }
        },
        "additionalProperties": true
      },
      "FiatMasterWalletResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "string",
            "const": "success"
          },
          "statusCode": {
            "type": "integer",
            "const": 200
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/FiatMasterWallet"
          }
        },
        "additionalProperties": true
      },
      "FiatWalletTransaction": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "transactionType": {
            "type": "string",
            "enum": ["deposit", "withdrawal"]
          },
          "walletId": {
            "type": "string",
            "description": "Wallet identifier returned by the custody provider. It is distinct from the internal crypto-address UUID used by some retrieval endpoints."
          },
          "accountNumber": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "fee": {
            "type": "number"
          },
          "beneficiary": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": "string"
              },
              "accountName": {
                "type": "string"
              },
              "bankName": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "originator": {
            "type": "object",
            "properties": {
              "accountNumber": {
                "type": "string"
              },
              "accountName": {
                "type": "string"
              },
              "bankName": {
                "type": "string"
              }
            },
            "additionalProperties": true
          },
          "toWalletAccountNumber": {
            "type": "string"
          },
          "narration": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "FiatWalletTransactionsResponse": {
        "type": "object",
        "required": ["transactions", "total", "page", "limit", "totalPages"],
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FiatWalletTransaction"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        },
        "additionalProperties": true
      },
      "FiatWalletTransactionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FiatWalletTransaction"
          }
        ]
      },
      "FiatWalletTransferRequest": {
        "type": "object",
        "required": ["fromAccount", "toAccount", "amount", "reference", "narration"],
        "properties": {
          "fromAccount": {
            "type": "string"
          },
          "toAccount": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "reference": {
            "type": "string"
          },
          "narration": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "pattern": ".*\\S.*"
          }
        },
        "additionalProperties": false
      },
      "FiatWalletTransferResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message"],
        "properties": {
          "status": {
            "type": "string",
            "const": "success"
          },
          "statusCode": {
            "type": "integer",
            "const": 201
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "SupportedBank": {
        "type": "object",
        "required": ["bankname", "bankcode"],
        "properties": {
          "bankname": {
            "type": "string"
          },
          "bankcode": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "SupportedBanksResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "boolean"
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SupportedBank"
            }
          }
        },
        "additionalProperties": true
      },
      "BankNameEnquiryRequest": {
        "type": "object",
        "required": ["bankCode", "accountNumber"],
        "properties": {
          "bankCode": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "BankNameEnquiryResult": {
        "type": "object",
        "required": [
          "sessionID",
          "destinationInstitutionCode",
          "channelCode",
          "accountNumber",
          "accountName",
          "kycLevel",
          "responseCode"
        ],
        "properties": {
          "sessionID": {
            "type": "string"
          },
          "destinationInstitutionCode": {
            "type": "string"
          },
          "channelCode": {
            "type": "integer"
          },
          "accountNumber": {
            "type": "string"
          },
          "accountName": {
            "type": "string"
          },
          "kycLevel": {
            "type": "string"
          },
          "responseCode": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "BankNameEnquiryResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "boolean"
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/BankNameEnquiryResult"
          }
        },
        "additionalProperties": true
      },
      "InterBankTransferRequest": {
        "type": "object",
        "required": [
          "customerId",
          "destinationBankCode",
          "destinationAccountName",
          "destinationAccountNumber",
          "destinationBankName",
          "reference",
          "remarks",
          "amount"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "format": "uuid"
          },
          "destinationBankCode": {
            "type": "string"
          },
          "destinationAccountName": {
            "type": "string"
          },
          "destinationAccountNumber": {
            "type": "string"
          },
          "destinationBankName": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "remarks": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          }
        },
        "additionalProperties": false
      },
      "InterBankTransferResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "boolean"
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "required": ["reference"],
            "properties": {
              "reference": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "FiatFeeQuoteResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "boolean"
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "required": ["amount", "currency", "feeAmount", "total"],
            "properties": {
              "amount": {
                "type": "number"
              },
              "currency": {
                "type": "string",
                "enum": ["NGN"]
              },
              "feeAmount": {
                "type": "number"
              },
              "total": {
                "type": "number"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "CryptoWalletCreateRequest": {
        "type": "object",
        "required": ["network", "customerId"],
        "properties": {
          "network": {
            "type": "string",
            "enum": ["solana"]
          },
          "customerId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "CryptoWalletCreated": {
        "type": "object",
        "required": ["walletId", "address", "network"],
        "properties": {
          "walletId": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "network": {
            "type": "string",
            "enum": ["solana"]
          }
        },
        "additionalProperties": true
      },
      "CryptoWalletCreateResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "string",
            "const": "success"
          },
          "statusCode": {
            "type": "integer",
            "const": 201
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CryptoWalletCreated"
          }
        },
        "additionalProperties": true
      },
      "CryptoWalletTokenBalance": {
        "type": "object",
        "required": ["amount", "rawAmount"],
        "properties": {
          "amount": {
            "type": "string"
          },
          "rawAmount": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "CryptoWalletAddress": {
        "type": "object",
        "required": ["address", "network", "tokens"],
        "properties": {
          "address": {
            "type": "string"
          },
          "network": {
            "type": "string",
            "enum": ["solana"]
          },
          "tokens": {
            "type": "object",
            "description": "Provider-reported supported balances. SOL is the native network token; unsupported token deposits are recorded as transactions but omitted here.",
            "properties": {
              "sol": { "$ref": "#/components/schemas/CryptoWalletTokenBalance" },
              "usdc": { "$ref": "#/components/schemas/CryptoWalletTokenBalance" },
              "usdt": { "$ref": "#/components/schemas/CryptoWalletTokenBalance" }
            },
            "additionalProperties": {
              "$ref": "#/components/schemas/CryptoWalletTokenBalance"
            }
          }
        },
        "additionalProperties": true
      },
      "CryptoCustomerBalanceResponse": {
        "type": "object",
        "required": ["success", "message", "data"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "message": { "type": "string" },
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/CryptoWalletAddress" }
          }
        },
        "additionalProperties": true
      },
      "CryptoMasterWalletResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "string",
            "const": "success"
          },
          "statusCode": {
            "type": "integer",
            "const": 200
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CryptoWalletAddress"
            }
          }
        },
        "additionalProperties": true
      },
      "CryptoWalletResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "error"]
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CryptoWalletAddress"
            }
          }
        },
        "additionalProperties": true
      },
      "CryptoWalletTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "externalReference": {
            "type": "string"
          },
          "transactionType": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "tokenAmount": {
            "type": "string"
          },
          "tokenSymbol": {
            "type": "string"
          },
          "cryptoAssetStatus": {
            "type": ["string", "null"],
            "enum": ["supported", "unsupported", null],
            "description": "Unsupported means the token was received on-chain but is not spendable through FossaPay."
          },
          "tokenAddress": {
            "type": "string"
          },
          "tokenDecimals": {
            "type": "integer"
          },
          "senderAddress": {
            "type": "string"
          },
          "recipientAddress": {
            "type": "string"
          },
          "transactionHash": {
            "type": ["string", "null"]
          },
          "explorerLink": {
            "type": ["string", "null"]
          },
          "blockchain": {
            "type": "string"
          },
          "sourceWalletAddress": {
            "type": "string"
          },
          "recipientWalletAddress": {
            "type": "string"
          },
          "sourceWalletId": {
            "type": ["string", "null"]
          },
          "recipientWalletId": {
            "type": ["string", "null"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "CryptoWalletTransactionsResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "error"]
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "required": ["transactions", "pagination"],
            "properties": {
              "transactions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CryptoWalletTransaction"
                }
              },
              "pagination": {
                "type": "object",
                "required": ["currentPage", "totalPages", "totalItems", "itemsPerPage", "hasNextPage", "hasPrevPage"],
                "properties": {
                  "currentPage": {
                    "type": "integer"
                  },
                  "totalPages": {
                    "type": "integer"
                  },
                  "totalItems": {
                    "type": "integer"
                  },
                  "itemsPerPage": {
                    "type": "integer"
                  },
                  "hasNextPage": {
                    "type": "boolean"
                  },
                  "hasPrevPage": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": true
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "CryptoWalletTransactionResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["success", "error"]
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/CryptoWalletTransaction"
          }
        },
        "additionalProperties": true
      },
      "CryptoTransferRequest": {
        "type": "object",
        "required": ["customerId", "recipient", "network", "currency", "amount"],
        "properties": {
          "customerId": {
            "type": "string"
          },
          "recipient": {
            "type": "string"
          },
          "network": {
            "type": "string",
            "enum": ["solana"]
          },
          "currency": {
            "type": "string",
            "enum": ["usdc", "usdt", "sol"]
          },
          "amount": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Gross token amount. FossaPay deducts the quoted transfer fee, if any, and sends the remainder to the recipient. SOL amounts support up to 9 decimal places."
          }
        },
        "additionalProperties": false
      },
      "CryptoTransferResponse": {
        "type": "object",
        "required": ["status", "message", "data"],
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "required": ["token", "network", "recipientAddress", "senderAddress", "status"],
            "properties": {
              "token": {
                "type": "object",
                "required": ["symbol", "amount"],
                "properties": {
                  "symbol": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  }
                },
                "additionalProperties": true
              },
              "network": {
                "type": "string",
                "enum": ["SOLANA"]
              },
              "recipientAddress": {
                "type": "string"
              },
              "senderAddress": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            },
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "CryptoFeeQuoteResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": {
            "type": "boolean"
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "PayoutCreateRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency",
          "reference",
          "destinationBankCode",
          "destinationBankName",
          "destinationAccountName",
          "destinationAccountNumber"
        ],
        "properties": {
          "amount": {
            "type": "integer",
            "minimum": 1,
            "description": "Amount the beneficiary receives in NGN."
          },
          "currency": {
            "type": "string",
            "enum": ["NGN"]
          },
          "reference": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[A-Za-z0-9._:-]+$"
          },
          "destinationBankCode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "destinationBankName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 199
          },
          "destinationAccountName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 199
          },
          "destinationAccountNumber": {
            "type": "string",
            "minLength": 1,
            "maxLength": 199
          },
          "remarks": {
            "type": "string",
            "maxLength": 255
          },
          "metadata": {
            "type": "object",
            "description": "Optional merchant data limited to 4,096 UTF-8 bytes and returned unchanged.",
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "PayoutRecipient": {
        "type": "object",
        "required": ["bankCode", "bankName", "accountName", "accountNumber"],
        "properties": {
          "bankCode": { "type": "string" },
          "bankName": { "type": "string" },
          "accountName": { "type": "string" },
          "accountNumber": { "type": "string" }
        },
        "additionalProperties": false
      },
      "Payout": {
        "type": "object",
        "required": [
          "payoutId",
          "transactionId",
          "reference",
          "status",
          "route",
          "amount",
          "fee",
          "totalDebited",
          "currency",
          "recipient",
          "providerReference",
          "metadata",
          "completedAt",
          "failedAt",
          "reversedAt"
        ],
        "properties": {
          "payoutId": { "type": "string", "format": "uuid" },
          "transactionId": { "type": ["string", "null"], "format": "uuid" },
          "reference": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["processing", "completed", "failed", "reversed"]
          },
          "route": {
            "type": "string",
            "enum": ["same_business", "fossapay_cross_business", "external_bank"]
          },
          "amount": { "type": "string", "pattern": "^[0-9]+\\.[0-9]{2}$" },
          "fee": { "type": "string", "pattern": "^[0-9]+\\.[0-9]{2}$" },
          "totalDebited": { "type": "string", "pattern": "^[0-9]+\\.[0-9]{2}$" },
          "currency": { "type": "string", "enum": ["NGN"] },
          "recipient": { "$ref": "#/components/schemas/PayoutRecipient" },
          "providerReference": { "type": ["string", "null"] },
          "metadata": {
            "type": ["object", "null"],
            "additionalProperties": true
          },
          "completedAt": { "type": ["string", "null"], "format": "date-time" },
          "failedAt": { "type": ["string", "null"], "format": "date-time" },
          "reversedAt": { "type": ["string", "null"], "format": "date-time" }
        },
        "additionalProperties": false
      },
      "PayoutResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": { "type": "string", "const": "success" },
          "statusCode": { "type": "integer", "enum": [200, 202] },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/Payout" }
        },
        "additionalProperties": false
      },
      "CheckoutCustomer": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "minLength": 2, "maxLength": 150 },
          "email": { "type": "string", "format": "email" },
          "phoneNumber": { "type": "string" }
        },
        "additionalProperties": false
      },
      "CheckoutCreateRequest": {
        "type": "object",
        "required": ["amount", "currency", "reference", "feeBearer"],
        "properties": {
          "amount": {
            "type": "integer",
            "minimum": 1,
            "description": "Underlying merchant order amount in NGN."
          },
          "currency": {
            "type": "string",
            "enum": ["NGN"]
          },
          "reference": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "pattern": "^[A-Za-z0-9._:-]+$"
          },
          "feeBearer": {
            "type": "string",
            "enum": ["customer", "merchant"]
          },
          "customer": {
            "$ref": "#/components/schemas/CheckoutCustomer"
          },
          "metadata": {
            "type": "object",
            "description": "Optional merchant data limited to 4,096 UTF-8 bytes and returned unchanged.",
            "additionalProperties": true
          },
          "description": {
            "type": "string",
            "maxLength": 255
          }
        },
        "additionalProperties": false
      },
      "CheckoutAccount": {
        "type": "object",
        "required": ["type", "bankName", "accountName", "accountNumber", "expiresAt"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["temporary", "permanent"]
          },
          "bankName": { "type": "string" },
          "accountName": { "type": "string" },
          "accountNumber": { "type": "string" },
          "expiresAt": {
            "type": ["string", "null"],
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "CheckoutSession": {
        "type": "object",
        "required": [
          "id",
          "reference",
          "status",
          "amount",
          "fee",
          "amountPayable",
          "settlementAmount",
          "feeBearer",
          "currency",
          "account",
          "customer",
          "metadata",
          "transactionId",
          "providerCheckoutReference",
          "expiresAt",
          "completedAt",
          "failedAt",
          "reversedAt",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "reference": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed", "expired", "reversed"]
          },
          "amount": { "type": "string", "pattern": "^[0-9]+\\.[0-9]{2}$" },
          "fee": { "type": "string", "pattern": "^[0-9]+\\.[0-9]{2}$" },
          "amountPayable": { "type": "string", "pattern": "^[0-9]+\\.[0-9]{2}$" },
          "settlementAmount": { "type": "string", "pattern": "^[0-9]+\\.[0-9]{2}$" },
          "feeBearer": { "type": "string", "enum": ["customer", "merchant"] },
          "currency": { "type": "string", "enum": ["NGN"] },
          "account": { "$ref": "#/components/schemas/CheckoutAccount" },
          "customer": {
            "oneOf": [
              { "$ref": "#/components/schemas/CheckoutCustomer" },
              { "type": "null" }
            ]
          },
          "metadata": {
            "type": ["object", "null"],
            "additionalProperties": true
          },
          "transactionId": { "type": ["string", "null"] },
          "providerCheckoutReference": { "type": ["string", "null"] },
          "expiresAt": { "type": "string", "format": "date-time" },
          "completedAt": { "type": ["string", "null"], "format": "date-time" },
          "failedAt": { "type": ["string", "null"], "format": "date-time" },
          "reversedAt": { "type": ["string", "null"], "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "additionalProperties": false
      },
      "CheckoutResponse": {
        "type": "object",
        "required": ["status", "statusCode", "message", "data"],
        "properties": {
          "status": { "type": "string", "const": "success" },
          "statusCode": { "type": "integer", "enum": [200, 201] },
          "message": { "type": "string" },
          "data": { "$ref": "#/components/schemas/CheckoutSession" }
        },
        "additionalProperties": false
      },
      "WebhookSettingsRequest": {
        "type": "object",
        "required": ["url", "events", "secret"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "deposit.completed",
                "withdrawal.completed",
                "transfer.completed",
                "transfer.failed",
                "wallet.balance.updated",
                "checkout.completed",
                "checkout.failed",
                "checkout.expired",
                "checkout.reversed",
                "payout.completed",
                "payout.failed",
                "payout.reversed"
              ]
            }
          },
          "secret": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "WebhookSettingsResponse": {
        "type": "object",
        "required": ["status", "message"],
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      },
      "WebhookSimulationRequest": {
        "type": "object",
        "required": ["event", "customer_id", "amount", "currency"],
        "properties": {
          "event": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "WebhookSimulationResponse": {
        "type": "object",
        "required": ["status", "message"],
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": true
      }
    }
  }
}
